@import url("https://fonts.googleapis.com/css?family=Raleway");

body{
  font-family: "Raleway", sans-serif;
  background-color: #B7B5E4;
}

.title {
  position: relative;
  background-color: #351431;
  color: white;
  padding: 10px;
  font-size: 1.8em;
  border-radius: 5px;
}

.pollInfo {
  font-weight: bold;
  margin-bottom: 5px;
  border-radius: 10%;
  background: #A7A5C6
}
.name {
  position: relative;
  color: black;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 100;
}

.country {
  position: relative;
  color: black;
  padding: 10px;
  font-size: 1em;
}

.sport {
  position: relative;
  color: black;
  font-size: 1em;
}

.state {
  position: relative;
  color: black;
  padding: 10px;
  font-size: 1em;
}

.options {
  text-align:center;
  transition: all 0.2s;
}
