@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 1.8em;
  border-radius: 5px;
}

.pollCard {
  font-weight: bold;
  margin-bottom: 5px;
  background-color: grey;
  border-radius: 10%;
}

.name {
  position: relative;
  color: black;
  padding: 10px;
  font-size: 1.4em;
}

.country {
  position: relative;
  color: black;
  padding: 10px;
  font-size: 1em;
}

.state {
  position: relative;
  color: black;
  padding: 10px;
  font-size: 1em;
}

.sport {
  position: relative;
  color: black;
  font-size: 1em;
}

